<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Description">
    <meta name="author" content="@Properties["project-author"]">

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="@Root/content/style.css" />
    <link type="text/css" rel="stylesheet" href="@Root/content/fsdata.css" />
    <script type="text/javascript" src="@Root/content/tips.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://fsharp.org">fsharp.org</a></li>
          <li><a href="https://bluemountaincapital.github.io/Deedle"><img height="16" width="16" src="/images/Deedle.png" /> Deedle</a></li>
          <li><a href="https://bluemountaincapital.github.io/FSharpRProvider"><img height=" 16" width="16" src="/images/FSharpRProvider.png" /> R Provider</a></li>
          <li><a href="https://fsharp.github.io/FSharp.Charting/"><img height="16" width="16" src="/images/FSharp.Charting.png" /> F# Charting</a></li>
          <li><a href="https://fsprojects.github.io/FSharp.Data.Toolbox"><img height="16" width="16" src="/images/FSharp.Data.Toolbox.png" /> F# Data Toolbox</a></li>
        </ul>
        <h3 class="muted"><a href="@Root/ja/index.html">@Properties["project-name"]</a></h3>
      </div>
      <hr />
      <div class="row">
        <div class="span9" id="main">
          @RenderBody()
        </div>
        <div class="span3">
          <a href="@Root/ja/index.html">
            <img src="@Root/images/logo.png" style="width:140px;height:140px;margin:10px 0px 0px 35px;border-style:none;" />
          </a>

          <ul class="nav nav-list" id="menu">
            <li class="nav-header">
              <a href="@Root/ja/index.html" class="nflag"><img src="@Root/images/ja.png" /></a>
              <a href="@Root/index.html" class="nflag nflag2"><img src="@Root/images/en.png" /></a>
              @Properties["project-name"]
            </li>
            <li class="divider"></li>
            <li><a href="@Properties["project-nuget"]">NuGet経由でライブラリを取得</a></li>
            <li><a href="@Properties["project-github"]">GitHub上のソースコード</a></li>
            <li><a href="@Properties["project-github"]/blob/master/LICENSE.md">License (Apache 2.0)</a></li>
            <li><a href="@Properties["project-github"]/blob/master/RELEASE_NOTES.md">リリースノート</a></li>
            <li><span>
                <a href="@Root/ja/contributing.html">F# Dataに貢献する</a>
                (<a href="@Properties["project-github"]/blob/master/CONTRIBUTING.md">En</a>)
                </span></li>
            
            <li class="nav-header">F# Data ライブラリ</li>
            <li><span>
                <a href="@Root/ja/index.html">はじめに</a>
                (<a href="@Root/index.html">En</a>)
                </span></li>
            <li class="divider"></li>
            <li><span>
                <a href="@Root/ja/library/JsonProvider.html">JSON 型プロバイダー</a>
                (<a href="@Root/library/JsonProvider.html">En</a>)
                </span></li>
            <li><span>
                <a href="@Root/ja/library/XmlProvider.html">XML 型プロバイダー</a>
                (<a href="@Root/library/XmlProvider.html">En</a>)
                </span></li>
            <li><span>
                <a href="@Root/ja/library/CsvProvider.html">CSV 型プロバイダー</a>
                (<a href="@Root/library/CsvProvider.html">En</a>)
                </span></li>
            <li><span>
                <a href="@Root/ja/library/WorldBank.html">WorldBank プロバイダー</a>
                (<a href="@Root/library/WorldBank.html">En</a>)
                </span></li>
            <li class="divider"></li>
            <li><span>
                <a href="@Root/ja/library/Http.html">HTTP ユーティリティ</a>
                (<a href="@Root/library/Http.html">En</a>)
                </span></li>
            <li><span>
                <a href="@Root/ja/library/CsvFile.html">CSV パーサーおよびリーダー</a>
                (<a href="@Root/library/CsvFile.html">En</a>)
                </span></li>
            <li><span>
                <a href="@Root/ja/library/JsonValue.html">JSON パーサーおよびリーダー</a>
                (<a href="@Root/library/JsonValue.html">En</a>)
                </span></li>

            <li class="nav-header">チュートリアル</li>
            <li><span>
                <a href="@Root/ja/tutorials/JsonToXml.html">JSONとXMLの相互変換</a>
                (<a href="@Root/tutorials/JsonToXml.html">En</a>)
                </span></li>

            <li><span>
                <a href="@Root/ja/tutorials/JsonAnonymizer.html">JSONの匿名化</a>
                (<a href="@Root/tutorials/JsonAnonymizer.html">En</a>)
                </span></li>

            <li class="nav-header">リファレンス</li>
            <li><span>
                <a href="@Root/reference/index.html">API リファレンス (En)</a>
                </span></li>
          </ul>
        </div>
      </div>
    </div>
    <a href="@Properties["project-github"]"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  </body>
  </html>