@{ 
  Layout = "default";
  Title = "Module";
}

<div class="row">
  <div class="span1"></div>
  <div class="span10" id="main">
    <h1>@Model.Module.Name</h1>

    <div class="xmldoc">
      @Model.Module.Comment.FullText
    </div>

    @if (Model.Module.NestedTypes.Length > 0) {
    <div>
      <table class="table table-bordered type-list">
        <thread>
          <tr><td>Type</td><td>Description</td></tr>
        </thread>
        <tbody>
          @foreach (var it in Model.Module.NestedTypes) {
          <tr>
            <td class="type-name">
              <a href="@(it.UrlName).html">@Html.Encode(it.Name)</a>
            </td>
            <td class="xmldoc">@it.Comment.Blurb</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }

    @RenderPart("members", new { 
        Header = "Functions and values",
        TableHeader = "Function or value",
        Members = Model.Module.ValuesAndFuncs
    })

    @RenderPart("members", new { 
        Header = "Type extensions",
        TableHeader = "Type extension",
        Members = Model.Module.TypeExtensions
    })

    @RenderPart("members", new { 
        Header = "Active patterns",
        TableHeader = "Active pattern",
        Members = Model.Module.ActivePatterns
    })

  </div>
  <div class="span1"></div>
</div>